@model IEnumerable<Prescription>
@{
    ViewBag.Title = "لیست نسخه های پستی";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <h4 class="header-title m-t-0 m-b-30">لیست نسخه های پرداخت شده توسط بیماران به صورت آنلاین</h4>
                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>شماره نسخه</th>
                            <th>کد ملی</th>
                            <th>نام و نام خانوادگی</th>
                            <th>هزینه پرداخت شده</th>
                            <th>وضعیت</th>
                            <th>مشاهده نسخه</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var prescription in Model)
                            {
                                var modalId = "edit-modal" + prescription.Id;
                                var dataTarget = "#" + modalId;
                                var totalCostTable = 0;
                                <!--Begin Modal-->
                                <div id=@modalId class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <form asp-action="PrescriptionCheck" method="post">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title">مشاهده نسخه بیمار @prescription.Visit.Reservation.Patient.FullName</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="userNationalCode" class="control-label">کد ملی</label>
                                                                <input type="text" readonly="" class="form-control" id="userNationalCode" value="@prescription.Visit.Reservation.Patient.NationalCode">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="userFullName" class="control-label">نام و نام خانوادگی بیمار</label>
                                                                <input type="text" readonly="" class="form-control" id="userFullName" value="@prescription.Visit.Reservation.Patient.FullName">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @foreach (var drug in prescription.PrescriptionDrugs.Where(a => a.IsBought.Equals(true)))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-10">
                                                                <div class="form-group">
                                                                    <label for="drugName" class="control-label">نام دارو</label>
                                                                    <input type="text" readonly="" class="form-control" id="drugName" value="@drug.Drug.Name">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-2">
                                                                <div class="form-group">
                                                                    <label for="drugCount" class="control-label">تعداد</label>
                                                                    <input type="text" readonly="" class="form-control" id="drugCount" value="@drug.Count">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="userAddress" class="control-label">آدرس پستی بیمار</label>
                                                                <textarea readonly="" class="form-control" id="userAddress">@prescription.Visit.Reservation.Patient.Address</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="userZipCode" class="control-label">کد پستی بیمار</label>
                                                                <input type="text" readonly="" class="form-control" id="userZipCode" value="@prescription.Visit.Reservation.Patient.ZipCode">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="hidden" name="id" value="@prescription.Id" />
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                                                    @if (prescription.Status.Equals("ارسال نشده"))
                                                    {
                                                        <button type="submit" class="btn btn-success waves-effect waves-light">تحویل داده شد</button>
                                                    }
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--End Modal-->
                                <tr>
                                    <td>@prescription.Id</td>
                                    <td>@prescription.Visit.Reservation.Patient.NationalCode</td>
                                    <td>@prescription.Visit.Reservation.Patient.FullName</td>
                                    @foreach (var drug in prescription.PrescriptionDrugs)
                                    {
                                        totalCostTable += drug.Drug.Cost * drug.Count;
                                    }
                                    @{
                                        var discountCost = 0;

                                        if (prescription.Visit.InsuranceProvider != null)
                                        {
                                            foreach (var drug in prescription.PrescriptionDrugs)
                                            {
                                                discountCost += drug.Drug.Cost * drug.Count * (prescription.Visit.InsuranceProvider.Discount) / 100;
                                            }
                                            totalCostTable = totalCostTable - discountCost;
                                        }
                                    }
                                    <td>@totalCostTable تومان</td>
                                    <td>@prescription.Status</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target=@dataTarget class="btn btn-success label label-success">
                                            <i class="fa fa-pencil">&nbsp;</i>
                                            مشاهده
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- DataTables-->
    <script src="/Administrators/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="/Administrators/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/jszip.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="/Administrators/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="/Administrators/assets/plugins/datatables/dataTables.scroller.min.js"></script>

    <!-- DataTable init js -->
    <script src="/Administrators/assets/pages/datatables.init.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
            $('#datatable-keytable').DataTable({ keys: true });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({ ajax: "/Administrators/assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true });
            var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
        });
        TableManageButtons.init();

    </script>
}

@section Head {
    <!-- DataTables -->
    <link href="/Administrators/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Administrators/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
}
