@model DoctorListDoctorViewModel
@inject AppDbContext DbContext
@{
    ViewBag.Title = "صفحه اصلی";
    List<Visit> visits = await DbContext.Visits
        .Include(a => a.Reservation)
        .ThenInclude(a => a.Doctor).ToListAsync();
}
@section Links{
    <!-- form Uploads -->
    <link href="/Administrators/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>
                        @ViewBag.VisitCount
                    </h3>
                    <p>تعداد کل ویزیت های انجام شده</p>
                </div>
                <div class="icon">
                    <i class="fa fa-area-chart"></i>
                </div>
                <br />
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        @ViewBag.DoctorCount
                    </h3>
                    <p>تعداد پزشکان کلینیک</p>
                </div>
                <div class="icon">
                    <i class="fa fa-stethoscope"></i>
                </div>
                <br />
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        @ViewBag.PatientCount
                    </h3>
                    <p>تعداد بیماران ثبت نام کرده</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <br />
            </div>
        </div>
    </div>

    <div class="row" style="margin: 10px 20px;">
        <div class="col-md-6">
            <a href="#custom-modal" style="margin-bottom: 10px;" class="btn btn-block btn-rounded btn-primary btn-md waves-effect waves-light m-b-30" data-animation="fadein" data-plugin="custommodal"
               data-overlaySpeed="200" data-overlayColor="#36404a">
                <i class="fa fa-plus m-l-5"></i>
                <span style="margin-right: 5px;">افزودن پزشک</span>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#custom-modal-message" style="margin-bottom: 10px;" class="btn btn-block btn-rounded btn-primary btn-md waves-effect waves-light m-b-30" data-animation="fadein" data-plugin="custommodal"
               data-overlaySpeed="200" data-overlayColor="#36404a">
                <i class="fa fa-envelope m-l-5"></i>
                <span style="margin-right: 5px;">ارسال پیام به مدیر سایت</span>
            </a>
        </div>
    </div>

    <div id="custom-modal" class="modal-demo">
        <button type="button" class="close" onclick="Custombox.close();">
            <span>&times;</span><span class="sr-only">بستن</span>
        </button>
        <h4 class="custom-modal-title">افزودن پزشک</h4>
        <div class="custom-modal-text text-left">
            <form method="post" asp-action="AddDoctor" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Doctor.FullName"></label>
                    <input asp-for="Doctor.FullName" class="form-control" placeholder="نام و نام خانوادگی پزشک را بنویسید" />
                    <span asp-validation-for="Doctor.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor.Email"></label>
                    <input asp-for="Doctor.Email" class="form-control" placeholder="آدرس ایمیل" />
                    <span asp-validation-for="Doctor.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor.Username"></label>
                    <input asp-for="Doctor.Username" class="form-control" placeholder="نام کاربری" />
                    <span asp-validation-for="Doctor.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor.Password"></label>
                    <input asp-for="Doctor.Password" class="form-control" placeholder="رمز عبور" />
                    <span asp-validation-for="Doctor.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>تکرار رمز عبور</label>
                    <input type="password" id="confirmPassword" class="form-control" required="" placeholder="تکرار رمز عبور" />
                    <span class="text-danger" id="confirmPassword_validation"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor.MedicalNumber"></label>
                    <input asp-for="Doctor.MedicalNumber" class="form-control" placeholder="شماره نظام پزشکی" />
                    <span asp-validation-for="Doctor.MedicalNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor.NationalCode"></label>
                    <input asp-for="Doctor.NationalCode" class="form-control" placeholder="کد ملی" />
                    <span asp-validation-for="Doctor.NationalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor.PhoneNumber"></label>
                    <input asp-for="Doctor.PhoneNumber" class="form-control" placeholder="شماره تلفن" />
                    <span asp-validation-for="Doctor.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor.Gender"></label><br />
                    <select asp-for="Doctor.Gender" asp-items="new SelectList(Enum.GetValues(typeof(GenderEnum)))"
                            class="form-control">
                        <option value="">انتخاب کنید</option>
                    </select>
                    <span asp-validation-for="Doctor.Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor.Age"></label>
                    <input asp-for="Doctor.Age" class="form-control" placeholder="سن" />
                    <span asp-validation-for="Doctor.Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doctor.Specialty"></label><br />
                    @Html.DropDownListFor(model => model.Doctor.Specialty, new SelectList(
                        new List<SelectListItem>
                        {
                            new SelectListItem { Text = "پزشک عمومی", Value = "پزشک عمومی"},
                            new SelectListItem { Text = "متخصص اطفال", Value = "متخصص اطفال"},
                            new SelectListItem { Text = "متخصص زنان", Value = "متخصص زنان"},
                            new SelectListItem { Text = "چشم پزشک", Value = "چشم پزشک"},
                            new SelectListItem { Text = "دندان پزشک", Value = "دندان پزشک"},
                        }, "Value", "Text"), "انتخاب کنید", new { @class = "form-control" })
                    <span asp-validation-for="Doctor.Specialty" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Doctor.ProfilePic"></label>
                    <input type="file" class="dropify" data-height="200" accept="image/x-png,image/gif,image/jpeg" required name="docImage" />
                    <span asp-validation-for="Doctor.ProfilePic" class="text-danger"></span>
                </div>

                <button type="submit" id="submit" class="btn btn-default waves-effect waves-light">ذخیره</button>
                <button type="button" class="btn btn-danger waves-effect waves-light m-l-10" onclick="Custombox.close();">لغو</button>
            </form>
        </div>
    </div>

    <div id="custom-modal-message" class="modal-demo">
        <button type="button" class="close" onclick="Custombox.close();">
            <span>&times;</span><span class="sr-only">بستن</span>
        </button>
        <h4 class="custom-modal-title">ارسال پیام</h4>
        <div class="custom-modal-text text-left">
            <form method="post" asp-action="SendMessage">
                <div class="form-group">
                    <label for="msgTitle">عنوان پیام</label>
                    <input type="text" class="form-control" name="msgTitle" required id="msgTitle"
                           placeholder="عنوان پیام خود را بنویسید...">
                </div>

                <div class="form-group">
                    <label for="msgDesc">شرح پیام</label>
                    <textarea class="form-control" name="msgDesc" required id="msgDesc"
                              placeholder="شرح پیام خود را بنویسید"></textarea>
                </div>

                <button type="submit" class="btn btn-success waves-effect waves-light">ارسال</button>
                <button type="button" class="btn btn-danger waves-effect waves-light m-l-10" onclick="Custombox.close();">لغو</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <a asp-action="DoctorsList"
                   style="margin-bottom: 10px;" class="pull-right btn btn-primary btn-rounded waves-effect waves-light">

                    <span style="margin-right: 5px;">بیشتر</span>
                    <i class="fa fa-arrow-left m-l-5"></i>
                </a>

                <h4 class="header-title m-t-0 m-b-30">پزشکان محبوب کلینیک</h4>
                @if (!Model.Doctors.Any())
                {
                    <div class="text-center">
                        هیچ پزشکی در کلینیک موجود نمی باشد
                    </div>
                }
                else
                {
                    <table class="table table table-hover m-0">
                        <thead>
                            <tr>
                                <th>رتبه</th>
                                <th>نام پزشک</th>
                                <th>تعداد ویزیت</th>
                                <th>امتیاز</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                                foreach (var doctor in Model.Doctors)
                                {
                                    int visitCount = 0;
                                    if (visits.Count > 0)
                                    {
                                        visitCount += visits.Count(visit => visit.Reservation.Doctor.Equals(doctor));
                                    }

                                    <tr>
                                        <th>@i</th>
                                        <td>@doctor.FullName</td>
                                        <td>@visitCount</td>
                                        <td>
                                            @if (doctor.Score > 4)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            }
                                            else if (doctor.Score > 3 && doctor.Score <= 4)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (doctor.Score > 2 && doctor.Score <= 3)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (doctor.Score > 1 && doctor.Score <= 2)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (doctor.Score > 0 && doctor.Score <= 1)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (Math.Abs(doctor.Score) < 0.001)
                                            {
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- file uploads js -->
    <script src="/Administrators/assets/plugins/fileuploads/js/dropify.min.js"></script>
    <script type="text/javascript">
        $('.dropify').dropify({
            messages: {
                'default': 'فایل را به اینجا بکشید یا کلیک کنید',
                'replace': 'برای جایگزینی فایل را به اینجا بکشید یا کلیک کنید',
                'remove': 'پاک کردن',
                'error': 'با پوزش فراوان، خطایی رخ داده'
            },
            error: {
                'fileSize': 'حجم فایل بیشتر از حد مجاز است (1M).'
            }
        });
    </script>
    <script>
        $(function () {
            $('#submit').click(function (event) {
                if ($('#password').val() != $('#confirmPassword').val()) {
                    $('#confirmPassword_validation').text("رمز عبور با تکرار آن مطابقت ندارد");
                }
            });
        });
    </script>
}