@model ReserveDoctorsViewModel

@{
    ViewBag.Title = "رزرو";
    int i = 0;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box p-b-0">
                <form asp-action="Reserve" method="post">
                    <h4 class="header-title m-t-0 m-b-30">رزرو وقت ملاقات با پزشک</h4>
                    <div id="progressbarwizard" class="pull-in">
                        <ul class="nav nav-tabs navtab-wizard nav-justified bg-muted">
                            <li class="active"><a href="#account-2" data-toggle="tab" aria-expanded="true">روز ملاقات</a></li>
                            <li><a href="#profile-tab-2" data-toggle="tab">ساعت ملاقات</a></li>
                            <li><a href="#finish-2" data-toggle="tab">تخصص پزشک</a></li>
                        </ul>
                        <div class="tab-content b-0 m-b-0">
                            <div id="bar" class="progress progress-striped progress-bar-primary-alt">
                                <div class="bar progress-bar progress-bar-primary" style="width: 33.3333%;"></div>
                            </div>
                            <div class="tab-pane p-t-10 fade active in" id="account-2">
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label asp-for="Reserve.ReserveDate" class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <input asp-for="Reserve.ReserveDate" id="pcal1" class="form-control pdate">
                                            <span asp-validation-for="Reserve.ReserveDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-t-10 fade" id="profile-tab-2">
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label class="col-md-3 control-label" asp-for="Reserve.ReserveTime"></label>
                                        <div class="col-md-9">
                                            <select asp-for="Reserve.ReserveTime" class="form-control">
                                                <option selected="">ساعت مورد نظر را انتخاب کنید</option>
                                                <option value="08:00:00">8-10</option>
                                                <option value="10:00:00">10-12</option>
                                                <option value="12:00:00">12-14</option>
                                                <option value="14:00:00">14-16</option>
                                            </select>
                                            <span asp-validation-for="Reserve.ReserveTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane p-t-10 fade" id="finish-2">
                                <div class="row">
                                    <div class="form-group clearfix">
                                        <label class="col-md-3 control-label" asp-for="Reserve.DoctorSpecialty"></label>
                                        <div class="col-md-9">
                                            <select asp-for="Reserve.DoctorSpecialty" class="form-control">
                                                <option selected="">انتخاب کنید</option>
                                                <option value="‍پزشک عمومی">‍پزشک عمومی</option>
                                                <option value="متخصص اطفال">متخصص اطفال</option>
                                                <option value="متخصص زنان">متخصص زنان</option>
                                                <option value="چشم پزشک">چشم پزشک</option>
                                                <option value="دندان پزشک">دندان پزشک</option>
                                            </select>
                                            <span asp-validation-for="Reserve.DoctorSpecialty" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <div class="col-md-12 text-center">
                                            <input type="submit" class="btn btn-success" value="مشاهده پزشکان موجود" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="pager m-b-0 wizard">
                                <li class="previous first disabled" style="display:none;">
                                    <a href="#">اول</a>
                                </li>
                                <li class="previous disabled"><a href="#" class="btn btn-primary waves-effect waves-light">قبلی</a></li>
                                <li class="next last" style="display:none;"><a href="#">آخر</a></li>
                                <li class="next"><a href="#" class="btn btn-primary waves-effect waves-light">بعد</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="portlet">
                <div class="portlet-heading bg-primary">
                    <h3 class="portlet-title">
                        توجه
                    </h3>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#bg-primary1">
                            <i class="zmdi zmdi-minus"></i>
                        </a>
                        <a href="#" data-toggle="remove"><i class="zmdi zmdi-close"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="bg-primary1" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        کاربر گرامی، قبل از رزرو، توصیه می شود <a asp-area="" asp-controller="Home" asp-action="DoctorList">برنامه روزانه</a> پزشک خود را بررسی کنید. همچنین شما مجاز به رزرو یک پزشک بیش از 4 بار در کل و بیش از 1 بار در روز نمی باشید. توجه داشته باشید که امکان رزرو دو پزشک در یک روز و ساعت میسر نخواهد بود
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Doctors.Any())
    {
        DateTime reserveDateTime = Convert.ToDateTime(ViewBag.ReserveTime.ToString());
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">پزشکان موجود برای رزرو وقت</h4>
                    <table class="table table table-hover m-0">
                        <thead>
                            <tr>
                                <th>عکس پزشک</th>
                                <th>نام پزشک</th>
                                <th>تاریخ ملاقات</th>
                                <th>امتیاز پزشک</th>
                                <th>انتخاب</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doctor in Model.Doctors)
                            {
                                var buttonId = "reserve-alert-" + i;
                                i++;
                                <tr>
                                    <td>
                                        <img class="thumb-md img-circle img-thumbnail img-responsive"
                                             src="/Administrators/assets/images/doctors/@doctor.ProfilePic">
                                    </td>
                                    <td>
                                        <div class="margin-top-td">@doctor.FullName</div>
                                    </td>
                                    <td>
                                        <div class="margin-top-td">@reserveDateTime.ToHijriFarsiWithHour()</div>
                                    </td>
                                    <td>
                                        <div class="margin-top-td">
                                            @if (doctor.Score > 4)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            }
                                            else if (doctor.Score > 3 && doctor.Score <= 4)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (doctor.Score > 2 && doctor.Score <= 3)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (doctor.Score > 1 && doctor.Score <= 2)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (doctor.Score > 0 && doctor.Score <= 1)
                                            {
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (Math.Abs(doctor.Score) < 0.001)
                                            {
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div class="margin-top-td">
                                            <a href="#" id="@buttonId" class="btn btn-success label label-success">
                                                <i class="fa fa-check-circle"></i>
                                                رزرو
                                            </a>
                                        </div>
                                    </td>
                                    <script>
                                        $('#@buttonId').click(function () {
                                            swal({
                                                    title: "مطمئنی ؟؟",
                                                    text: "",
                                                    type: "success",
                                                    showCancelButton: true,
                                                    confirmButtonClass: 'btn-success waves-effect waves-light',
                                                    confirmButtonText: 'بله!',
                                                    closeOnConfirm: false
                                                },
                                                function(isConfirm) {
                                                    if (isConfirm) {
                                                        $.ajax({
                                                            url: "/Patient/Home/SubmitReserve/",
                                                            type: "POST",
                                                            data: {
                                                                id: @doctor.Id,
                                                                reserveDateTime: "@ViewBag.ReserveTime"
                                                            },
                                                            success: function () {
                                                                swal({
                                                                        title: "انجام شد!",
                                                                        text: "وقت ملاقات شما با موفقیت ثبت شد!",
                                                                        type: "success",
                                                                        showCancelButton: false,
                                                                        confirmButtonClass:
                                                                           'btn-info waves-effect waves-light',
                                                                        confirmButtonText: 'قبول',
                                                                        closeOnConfirm: false
                                                                    },
                                                                    function(value) {
                                                                        if (value) {
                                                                            window.location.replace(
                                                                                "/Patient/Home/ReserveList");
                                                                        }
                                                                    });
                                                            },
                                                            statusCode: {
                                                                404: function () {
                                                                    swal({
                                                                        title: "دسترسی غیر مجاز!",
                                                                        text: "لطفا از دستکاری داده های ارسالی اجتناب کنید!",
                                                                        type: "error",
                                                                        showCancelButton: false,
                                                                        confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                        confirmButtonText: 'باشه ببخشید!',
                                                                        closeOnConfirm: true
                                                                    }
                                                                    );
                                                                },
                                                                401: function () {
                                                                    swal({
                                                                        title: "وقت پزشک در این زمان پر است!",
                                                                        text: "لطفا پزشک دیگری را انتخاب کنید!",
                                                                        type: "error",
                                                                        showCancelButton: false,
                                                                        confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                        confirmButtonText: 'باشه!',
                                                                        closeOnConfirm: true
                                                                    });
                                                                },
                                                                402: function () {
                                                                    swal({
                                                                        title: "خطا!",
                                                                        text: "شما نمی توانید در یک روز پزشکی را دوبار ویزیت کنید!",
                                                                        type: "error",
                                                                        showCancelButton: false,
                                                                        confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                        confirmButtonText: 'باشه!',
                                                                        closeOnConfirm: true
                                                                    });
                                                                },
                                                                403: function () {
                                                                    swal({
                                                                        title: "خطا!",
                                                                        text: "شما در این زمان با پزشک دیگری قرار ملاقات دارید!",
                                                                        type: "error",
                                                                        showCancelButton: false,
                                                                        confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                        confirmButtonText: 'باشه!',
                                                                        closeOnConfirm: true
                                                                    });
                                                                }
                                                            }
                                                        });
                                                    }
                                                });
                                        });
                                    </script>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>


@section Head {
    <link rel="stylesheet" href="/Administrators/assets/css/calendar/jspc-royal_blue.css">

    <!-- Sweet Alert css -->
    <link href="/Administrators/assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />
    <script src="/Administrators/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <style>
        .margin-top-td {
            margin-top: 10px;
        }

        .checked {
            color: orange;
        }
    </style>
}

@section Scripts {

    <script src="/Administrators/assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
    <script src="/Administrators/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#basicwizard').bootstrapWizard({ 'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted' });

            $('#progressbarwizard').bootstrapWizard({
                onTabShow: function (tab, navigation, index) {
                    var $total = navigation.find('li').length;
                    var $current = index + 1;
                    var $percent = ($current / $total) * 100;
                    $('#progressbarwizard').find('.bar').css({ width: $percent + '%' });
                },
                'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted'
            });

            $('#btnwizard').bootstrapWizard({ 'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted', 'nextSelector': '.button-next', 'previousSelector': '.button-previous', 'firstSelector': '.button-first', 'lastSelector': '.button-last' });

            var $validator = $("#commentForm").validate({
                rules: {
                    emailfield: {
                        required: true,
                        email: true,
                        minlength: 3
                    },
                    namefield: {
                        required: true,
                        minlength: 3
                    },
                    urlfield: {
                        required: true,
                        minlength: 3,
                        url: true
                    }
                }
            });

            $('#rootwizard').bootstrapWizard({
                'tabClass': 'nav nav-tabs navtab-wizard nav-justified bg-muted',
                'onNext': function (tab, navigation, index) {
                    var $valid = $("#commentForm").valid();
                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    }
                }
            });
        });

    </script>

    <script type="text/javascript" src="/Administrators/assets/css/calendar/js-persian-cal.min.js"></script>

    <script type="text/javascript">
        var objCal1 = new AMIB.persianCalendar('pcal1');
    </script>
}