@model ReserveVisitViewModel
@{
    ViewBag.Title = "صفحه اصلی";
    int i = 0;
    bool? isWeekDayEmpty = ViewBag.IsWeekDayEmpty as bool?;
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        @ViewBag.TotalVisits
                    </h3>
                    <p>تعداد ویزیت های شما</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-md"></i>
                </div>
                <br />
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>
                        @ViewBag.TotalReserves
                    </h3>
                    <p>تعداد رزرو های پیش رو</p>
                </div>
                <div class="icon">
                    <i class="fa fa-stethoscope"></i>
                </div>
                <br />
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        @ViewBag.MonthlyVisits
                    </h3>
                    <p>تعداد ویزیت های این ماه</p>
                </div>
                <div class="icon">
                    <i class="fa fa-heartbeat"></i>
                </div>
                <br />
            </div>
        </div>
    </div>
    @if (isWeekDayEmpty.Value)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-border panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i> اخطار</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            پزشک محترم، رزرو وقت برای بیماران با توجه به جدول برنامه روزانه شما انجام می گیرد. لذا در اسرع وقت، برنامه روزانه خود را <a href="/Doctor/Home/ViewTimeTable">اضافه</a> کنید.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                @if (Model.Reserves.Any())
                {
                    <a asp-action="ReserveTable" style="margin-bottom: 10px;"
                       class="pull-right btn btn-primary btn-rounded waves-effect waves-light">
                        <span style="margin-right: 5px;">بیشتر</span>
                        <i class="fa fa-arrow-left m-l-5"></i>
                    </a>
                    <h4 class="header-title m-t-0 m-b-30">وقت های ملاقات امروز</h4>
                    <table class="table table-responsive table-hover m-0">
                        <thead>
                            <tr>
                                <th>عکس بیمار</th>
                                <th>نام بیمار</th>
                                <th>ساعت ملاقات</th>
                                <th>ویزیت</th>
                                <th>لغو</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reserve in Model.Reserves)
                            {
                                var profileModalId = "profile-modal-" + i;
                                var patientPostponingModalId = "postpone-modal-" + i;
                                var patientPostponingFormId = "postpone-form-" + i;
                                var patientAbsenceSwalId = "absence-swal-" + i;
                                var trId = "reserve-tr-" + i;
                                var calenderId = "calender-" + i;
                                i++;
                                <tr id="@trId">
                                    <td>
                                        <a href="" data-toggle="modal" data-target="#@profileModalId">
                                            <img class="thumb-md img-circle img-thumbnail img-responsive"
                                                 src="/Administrators/assets/images/patients/@reserve.Patient.ProfilePic">
                                        </a>
                                        <div id="@profileModalId" class="modal fade" tabindex="-1"
                                             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title">اطلاعات پروفایل بیمار</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="field-3" class="control-label">نام و نام خانوادگی</label>
                                                                    <input type="text" class="form-control" id="field-3"
                                                                           disabled="" value="@reserve.Patient.FullName">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="field-1" class="control-label">ایمیل</label>
                                                                    <input type="email" class="form-control" id="field-1"
                                                                           disabled="" value="@reserve.Patient.Email">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="field-2" class="control-label">شماره تلفن</label>
                                                                    <input type="tel" class="form-control" id="field-2"
                                                                           disabled="" value="@reserve.Patient.PhoneNumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="field-4" class="control-label">کد ملی</label>
                                                                    <input type="tel" class="form-control" id="field-4"
                                                                           disabled="" value="@reserve.Patient.NationalCode">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="field-5" class="control-label">سن</label>
                                                                    <input type="text" class="form-control" id="field-5"
                                                                           disabled="" value="@reserve.Patient.Age">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="field-6" class="control-label">جنسیت</label>
                                                                    <input type="text" class="form-control" id="field-6"
                                                                           disabled="" value="@reserve.Patient.Gender">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                                                        <a href="" class="btn btn-info waves-effect waves-light">مشاهده سوابق</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="margin-top-td">@reserve.Patient.FullName</div>
                                    </td>
                                    <td>
                                        <div class="margin-top-td">@reserve.ReserveDate.ToHijriFarsiWithHour()</div>
                                    </td>
                                    <td>
                                        <div class="margin-top-td">
                                            <a asp-action="VisitForm"
                                               asp-route-patientId="@reserve.PatientId"
                                               asp-route-docId="@reserve.DoctorId"
                                               asp-route-reserveDate="@reserve.ReserveDate" class="btn btn-success label label-success">
                                                <i class="fa fa-edit"></i> ویزیت
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="margin-top-td">
                                            <a class="btn btn-danger label label-danger" data-toggle="modal" data-target="#@patientPostponingModalId">
                                                <i class="fa fa-remove"></i> عقب انداختن
                                            </a>
                                            <div id="@patientPostponingModalId" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <form id="@patientPostponingFormId" method="post" asp-action="PostponeReserve">
                                                            <input type="hidden" name="patientId" value="@reserve.PatientId" />
                                                            <input type="hidden" name="docId" value="@reserve.DoctorId" />
                                                            <input type="hidden" name="oldDate" value="@reserve.ReserveDate" />
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                <h4 class="modal-title">به تعویق انداختن وقت ملاقات بیمار</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label" for="@calenderId">تاریخ ملاقات </label>
                                                                            <input type="text" id="@calenderId" class=" form-control pdate" value="" name="reserveDate" required="">
                                                                            <script type="text/javascript">
                                                                                var objCal1 = new AMIB.persianCalendar('@calenderId');
                                                                            </script>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label" for="hourList"> ساعت </label>
                                                                            <select class="form-control" name="reserveTime" id="hourList" required="">
                                                                                <option selected="">ساعت مورد نظر را انتخاب کنید</option>
                                                                                <option value="08:00:00">8-10</option>
                                                                                <option value="10:00:00">10-12</option>
                                                                                <option value="12:00:00">12-14</option>
                                                                                <option value="14:00:00">14-16</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                                                                <button type="submit" class="btn btn-info waves-effect waves-light">ذخیره</button>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                $("#@patientPostponingFormId").submit(function(e) {
                                                    e.preventDefault();

                                                    var form = $(this);
                                                    var url = form.attr('action');

                                                    swal({
                                                        title: "مطمئنی ؟؟",
                                                        text: "",
                                                        type: "info",
                                                        showCancelButton: true,
                                                        confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                        confirmButtonText: 'بله!',
                                                        closeOnConfirm: false
                                                    },
                                                    function(isConfirm) {
                                                        if (isConfirm) {
                                                            $.ajax({
                                                                type: "POST",
                                                                url: url,
                                                                data: form.serialize(),
                                                                success: function() {
                                                                    swal({
                                                                        title: "وقت ملاقات تغییر یافت!",
                                                                        text: "",
                                                                        timer: 3000,
                                                                        showConfirmButton: false
                                                                    });
                                                                    window.location.href =
                                                                        '@Url.Action("Index", "Home")';
                                                                },
                                                                statusCode: {
                                                                    404: function () {
                                                                        swal({
                                                                            title: "دسترسی غیر مجاز!",
                                                                            text: "لطفا از دستکاری داده های ارسالی اجتناب کنید!",
                                                                            type: "error",
                                                                            showCancelButton: false,
                                                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                            confirmButtonText: 'باشه ببخشید!',
                                                                            closeOnConfirm: true
                                                                        }
                                                                        );
                                                                    },
                                                                    401: function () {
                                                                        swal({
                                                                            title: "لطفا تاریخ را وارد کنید!",
                                                                            text: "!",
                                                                            type: "error",
                                                                            showCancelButton: false,
                                                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                            confirmButtonText: 'باشه!',
                                                                            closeOnConfirm: true
                                                                        });
                                                                    },
                                                                    402: function () {
                                                                        swal({
                                                                            title: "خطا!",
                                                                            text: "ساعت مقدار مناسبی ندارد!",
                                                                            type: "error",
                                                                            showCancelButton: false,
                                                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                            confirmButtonText: 'باشه!',
                                                                            closeOnConfirm: true
                                                                        });
                                                                    },
                                                                    403: function () {
                                                                        swal({
                                                                            title: "ناموفق!",
                                                                            text: "متاسفانه این تاریخ پر می باشد. لطفا وقت دیگری را انتخاب کنید!",
                                                                            type: "error",
                                                                            showCancelButton: false,
                                                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                            confirmButtonText: 'باشه!',
                                                                            closeOnConfirm: true
                                                                        });
                                                                    },
                                                                    405: function () {
                                                                        swal({
                                                                            title: "ناموفق!",
                                                                            text: "لطفا تاریخ ماقبل امروز را انتخاب نکنید!",
                                                                            type: "error",
                                                                            showCancelButton: false,
                                                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                            confirmButtonText: 'باشه!',
                                                                            closeOnConfirm: true
                                                                        });
                                                                    },
                                                                    406: function () {
                                                                        swal({
                                                                            title: "ناموفق!",
                                                                            text: "لطفا روز جمعه را برای رزرو انتخاب نکنید!",
                                                                            type: "error",
                                                                            showCancelButton: false,
                                                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                            confirmButtonText: 'باشه!',
                                                                            closeOnConfirm: true
                                                                        });
                                                                    },
                                                                    409: function () {
                                                                        swal({
                                                                            title: "ناموفق!",
                                                                            text: "بیمار در این زمان با پزشک دیگری رزرو دارد!",
                                                                            type: "error",
                                                                            showCancelButton: false,
                                                                            confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                            confirmButtonText: 'باشه!',
                                                                            closeOnConfirm: true
                                                                        });
                                                                    }
                                                                }
                                                            });
                                                        }
                                                    });
                                                });
                                            </script>
                                            <span>
                                                &nbsp;
                                                <a id="@patientAbsenceSwalId" class="btn btn-danger label label-danger">
                                                    <i class="fa fa-remove"></i> عدم حضور بیمار
                                                </a>
                                                <script>
                                                    $('#@patientAbsenceSwalId').click(function() {
                                                        swal({
                                                                title: "مطمئنی ؟؟",
                                                                text:
                                                                    "تنها در صورت عدم حضور بیمار در ساعت مقرر، آن را لغو کنید",
                                                                type: "error",
                                                                showCancelButton: true,
                                                                confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                confirmButtonText: 'بله!',
                                                                closeOnConfirm: false
                                                            },
                                                            function(isConfirm) {
                                                                if (isConfirm) {
                                                                    $.ajax({
                                                                        url: "/Doctor/Home/AbsencePatient/",
                                                                        type: "POST",
                                                                        data: {
                                                                            reserveDate: "@reserve.ReserveDate",
                                                                            docId: @reserve.DoctorId,
                                                                            patientId: @reserve.PatientId
                                                                        },
                                                                        dataType: "html",
                                                                        success: function() {
                                                                            swal("انجام شد!",
                                                                                "وقت ملاقات بیمار مورد نظر با موفقیت لغو شد!",
                                                                                "success");
                                                                            $("#@trId").remove();
                                                                        },
                                                                        statusCode: {
                                                                            404: function() {
                                                                                swal({
                                                                                        title: "دسترسی غیر مجاز!",
                                                                                        text: "لطفا از دستکاری داده های ارسالی اجتناب کنید!",
                                                                                        type: "error",
                                                                                        showCancelButton: false,
                                                                                        confirmButtonClass: 'btn-danger waves-effect waves-light',
                                                                                        confirmButtonText: 'باشه ببخشید!',
                                                                                        closeOnConfirm: true
                                                                                    }
                                                                                );
                                                                            }
                                                                        }
                                                                    });
                                                                }
                                                            });
                                                    });
                                                </script>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="text-center">
                        <h5>شما برای امروز هیچ وقت ملاقاتی ندارید!</h5>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                @if (Model.Visits.Any())
                {
                    <a asp-action="VisitedPatients" style="margin-bottom: 10px;"
                       class="pull-right btn btn-primary btn-rounded waves-effect waves-light">
                        <span style="margin-right: 5px;">بیشتر</span>
                        <i class="fa fa-arrow-left m-l-5"></i>
                    </a>
                    <h4 class="header-title m-t-0 m-b-30">ویزیت های اخیر</h4>
                    <table class="table table table-hover m-0">
                        <thead>
                            <tr>
                                <th>عکس بیمار</th>
                                <th>نام بیمار</th>
                                <th>تاریخ ملاقات</th>
                                <th>مشاهده ویزیت</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var visit in Model.Visits)
                            {
                                <tr>
                                    <td>
                                        <img class="thumb-md img-circle img-thumbnail img-responsive" src="/Administrators/assets/images/patients/@visit.Reservation.Patient.ProfilePic">
                                    </td>
                                    <td>
                                        <div class="margin-top-td">@visit.Reservation.Patient.FullName</div>
                                    </td>
                                    <td>
                                        <div class="margin-top-td">@visit.Reservation.ReserveDate.ToHijriFarsiWithHour()</div>
                                    </td>
                                    <td>
                                        <div class="margin-top-td">
                                            <form method="post" asp-action="VisitFormDetails">
                                                <input type="hidden" value="@visit.Reservation.DoctorId" name="docId" />
                                                <input type="hidden" value="@visit.Reservation.PatientId" name="patientId" />
                                                <input type="hidden" value="@visit.Reservation.ReserveDate" name="reserveDate" />
                                                <input type="submit" class="btn btn-info" value="مشاهده" />
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                }
                else
                {
                    <div class="text-center">
                        <h5>شما تاکنون ویزیتی انجام نداده اید!</h5>
                    </div>
                }

            </div>
        </div>

    </div>
</div>
@section Scripts {

    
}
@section Head {
    <!-- Sweet Alert css -->
    <link href="/Administrators/assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />
    <script src="/Administrators/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <link rel="stylesheet" href="/Administrators/assets/css/calendar/jspc-royal_blue.css">
    <script type="text/javascript" src="/Administrators/assets/css/calendar/js-persian-cal.min.js"></script>
    <style>
        .margin-top-td {
            margin-top: 10px;
        }
    </style>
}