@model IEnumerable<WeekDay>
@{
    ViewBag.Title = "مشاهده برنامه روزانه";
}

@section Head
{
    <style>
        .height-td-th {
            height: 40px;
            vertical-align: middle !important;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-action="EditTimeTable">ویرایش</a></li>
                    </ul>
                </div>
                <h4 class="header-title m-t-0 m-b-30">برنامه روزانه</h4>
                <table class="mb-0 table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="height-td-th" scope="col">روز / ساعت</th>
                            <th class="height-td-th" scope="col">8 تا 10</th>
                            <th class="height-td-th" scope="col">10 تا 12</th>
                            <th class="height-td-th" scope="col">12 تا 14</th>
                            <th class="height-td-th" scope="col">14 تا 16</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var weekday in Model)
                            {
                                <tr>
                                    <th class="height-td-th" scope="row">@weekday.DayName</th>
                                    <td class="height-td-th">@weekday.EightTen</td>
                                    <td class="height-td-th">@weekday.TenTwelve</td>
                                    <td class="height-td-th">@weekday.TwelveFourteen</td>
                                    <td class="height-td-th">@weekday.FourteenSixteen</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-custom panel-border">
                <div class="panel-heading"></div>
                <div class="panel-body text-center">
                    <p>
                        همکار محترم، در صورت تمایل به ویرایش برنامه روزانه خود، از گزینه <i class="zmdi zmdi-more-vert"></i> واقع در سمت بالا چپ جدول استفاده کنید.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>